/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e45e5a1ef3c423909dc2.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-39881a501b8280988c34.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-af2bb6c751bb3c79295b.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-05T22-03-36-0309.json
/cmake-build-debug/.cmake/api/v1/reply/target-aids1-Debug-b02c28b16cef3577c7b3.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-6f619f6ed2b9cb9d1698.json
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.o
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/aids1.dir/main.cpp.o
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/aids1
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
